.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.calculator {
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(63, 140, 244, 0.2) 0px 8px 24px;
}

.row {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;
}

.operation {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.operation label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

select {
  padding: 8px 12px;
  border: 2px solid #79b0f8;
  border-radius: 5px;
  background: #fff;
  transition: all 0.3s ease;
  color: #3f8cf4;
  width: 100%;
  box-shadow: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

select:focus {
  outline: none;
  border-color: #3f8cf4;
  background: white;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.controls {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.actions {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  margin-top: 10px;
}

.calcBtn {
  outline: none;
  background: #5c9ef6;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}

.calcBtn:hover {
  background: #397ee2;
}

.numberInput {
  padding: 8px 12px;
  font-size: 14px;
  border: 2px solid #79b0f8;
  border-radius: 5px;
}

.numberInput:focus {
  outline: none;
  border-color: #397ee2;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.result-area {
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.result-group label {
  text-align: center;
}

.result {
  text-align: center;
}

.meta {
  font-size: 12px;
  color: #666;
}
